@import "tailwindcss";

@theme inline {
  --color-brand-bg: #1f1f24;
  --color-brand-section: #121317;
  --color-brand-card: #17181D;
  --color-brand-primary: #F8FAFC;
  --color-brand-secondary: #9CA3AF;
  --color-brand-border: #27272A;
  --color-brand-green: #FFA500;
  --color-brand-red: #EF4444;
  --color-brand-blue: #3B82F6;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-primary);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  margin: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 30s linear infinite;
}

.animate-marquee:hover,
.animate-marquee-reverse:hover,
.pause {
  animation-play-state: paused;
}